*{
    box-sizing: border-box;
}

.funcionario-container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 24px;
}

.card{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 2px 2px 8px #999;
    border-radius: 4px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 4px 4px 8px #999;
}

.card h3{
    text-align: center;
    text-transform: uppercase;
}

.card img {
    width: 80%;
    border-radius: 50%;
}